@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ----- global ----- */
:root {
  --purple: #9873ff;
  --purple-secondary: #B89EFF;
  --gray: #b0b0b0;
  --red: #f06a4d;
  --white: #fff;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding-bottom: 50px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #E5E5E5;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}


/* ----- header ----- */
.header {
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: var(--white);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  margin-right: 53px;
}

.header__logo:focus {
  outline: none;
}

.header__input {
  width: 581px;
  padding: 13px 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__input:focus {
  outline: none;
  border: 1px solid var(--purple)
}

.header__input::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
}

/* ----- clients ----- */
.clients__container {
  max-width: 1226px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: auto;
}

.clients__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.clients__table {
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
}

/* thead */
.thead__th {
  padding-bottom: 8px;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--gray);
  cursor: pointer;
}

.thead__th--id {
  padding-left: 20px;
}

.thead__th--name {
  min-width: 200px;
}

.thead__th--contacts,
.thead__th--actions {
  cursor: default;
}

.thead__th--actions {
  min-width: 200px;
}

.thead__icon {
  vertical-align: bottom;
}

.thead__sort-name {
  font-weight: 600;
  font-size: 10px;
  color: var(--purple);
}

.thead__th--color {
  color: var(--purple);
}

/* tbody */
.tbody__row {
  height: 60px;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--white);
  border-bottom: 1px solid #C8C5D1;
}

.tbody__td--id {
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.tbody__td--contacts {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  width: 120px;
}

.contacts__link {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  cursor: pointer;
  opacity: .8;
  transition: all .2s ease-in-out;
}

.contacts__link:hover {
  opacity: 1;
}

.contacts__link--more {
  border: 1px solid var(--purple);
  border-radius: 50%;
  padding: 3px 3px 3px 3px;
  font-weight: 600;
  font-size: 8px;
  line-height: 9px;
  cursor: pointer;
}

.tbody__td--contacts>.contacts__link:nth-child(5n) {
  margin-right: 0;
}

.tbody__td--actions {
  padding-right: 20px;
}

.btn__change-client {
  display: inline-block;
  margin-right: 30px;
  transition: all .2s ease;
}

.btn__change-client svg {
  vertical-align: bottom;
}

.btn__change-client.is-animated {
  color: var(--purple);
}

.btn__change-client:focus {
  outline: none;
  color: var(--purple);;
}

.btn__change-client:hover{
  color: var(--purple);
}

.btn__delete-client {
  display: inline-block;
  margin-left: auto;
  transition: all .2s ease;
}

.btn__delete-client:focus {
  outline: none;
  color: var(--red);
}

.btn__delete-client:hover {
  color: var(--red);
}

.btn__delete-client svg {
  vertical-align: bottom;
}

.table-preload {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.table-preload svg {
  display: block;
  margin: 0 auto;
}

@keyframes preload {
  100% {
    transform: rotate(360deg);
  }
}

.btn__change-client svg {
  vertical-align: top;
}

.table-preload svg,
.btn__change-client.is-animated svg,
.save-btn svg {
  animation: preload 2s infinite linear;
}

/* btn add client */
.btn__add-client {
  display: block;
  border: 1px solid var(--purple);
  margin: 0 auto;
  padding: 13px 27px;
  font-weight: 600;
  font-size: 14px;
  color: var(--purple);
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.btn__add-client path {
  transition: fill .2s ease-in-out;
}

.btn__add-client:focus {
  outline: none;
  color: var(--white);
  background-color: var(--purple-secondary);
}

.btn__add-client:focus path {
  fill: var(--white);
}

.btn__add-client:hover {
  color: var(--white);
  background-color: var(--purple-secondary);
}

.btn__add-client:hover path {
  fill: var(--white);
}

.btn__icon {
  vertical-align: bottom;
}

/* ----- modal new client ----- */
.new-client {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  z-index: 10;
}

.new-client.modal-open {
  opacity: 1;
  visibility: visible;
}

.new-client__modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  min-height: 396px;
  max-height: 90%;
  padding: 25px 30px;
  overflow-y: auto;
  background-color: var(--white);
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(60deg);
  transition: all .4s ease;
  z-index: 100;
}

.new-client__modal.modal-open {
  transform: perspective(600px) translate(0px, -0%) rotateX(0deg);
  opacity: 1;
}

.new-client__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

/* form */
#client__form {
  width: 100%;
}

.new-client__label {
  display: block;
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
  cursor: pointer;
}

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  padding-bottom: 4px;
  height: 1px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
  transition: all .2s ease;
}

.form__input.error {
  border-color: var(--red);
}

.form__input.is-active,
.form__input:focus {
  height: 27px;
}

.form__input:focus-visible {
  outline: none;
}

#form__input--surname {
  margin-bottom: 24px;
}

.form-input-error {
  font-size: 10px;
  line-height: 14px;
  color: var(--red);
  text-align: right;
}

.add-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px 30px;
  margin: 0 -30px;
  margin-bottom: 24px;
  background-color: rgba(200, 197, 209, 0.2);
}

.add-contact.is-open {
  padding: 25px 30px;
}

.add-contact__btn {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.add-contact__btn svg {
  vertical-align: -10%;
  transition: all .2s ease-in-out;
}

.add-contact__btn:hover{
  color: var(--purple);
}

.add-contact__btn:active{
  color: #8052FF;
}

.new-contact {
  display: flex;
  margin-bottom: 15px;
  height: 37px;
}

.new-client__exit-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all .2s ease;
}

.new-client__exit-btn svg path {
  transition: all .2s ease;
}

.new-client__exit-btn:hover svg path {
  fill: var(--purple);
}

.new-client__exit-btn:active svg path {
  fill: #8052FF;
}

/* select */
.select__toggle {
  padding: 5px 8px 5px 12px;
  height: 100%;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
  border-radius: 0;
}

.select__toggle::after {
  background-image: url('../img/arrow_back.svg');
}

.select__dropdown {
  top: 37px;
  font-size: 12px;
  line-height: 16px;
  background-color: #F4F3F6;
  border: 1px solid #C8C5D1;
  border-top: none;
  border-radius: 0;
}

.select__option_selected {
  background-color: inherit;
}

.select__option_selected::after {
  background-image: none;
}

.select__option:hover {
  background-color: #E7E5EB;
}

/* input */
.new-contact__input {
  width: 240px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #C8C5D1;
  border-left: none;
  border-right: none;
}

.new-contact__input::placeholder {
  color: var(--gray);
}

.new-contact__input:focus-visible {
  outline: none;
}

/* btn new contact */
.new-contact__btn {
  display: inline-block;
  padding: 10px 7px;
  background-color: #E7E5EB;
  border: 1px solid #C8C5D1;
  cursor: pointer;
  transition: all .3s ease;
}

.new-contact__btn svg path {
  transition: all .3s ease;
}

.new-contact__btn:hover {
  border-color: var(--red);
}

.new-contact__btn:hover svg path {
  fill: var(--red);
}

.error-server {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  max-width: 100px;
  font-size: 10px;
  line-height: 14px;
  color: var(--red);
  text-align: center;
}

.error-server.is-hidden {
  display: none;
}

.save-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 12px 35px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  background-color: var(--purple);
  transition: all .2s ease-in-out;
}

.save-btn:hover,
.delete-box__delete-btn:hover  {
  background-color: #B89EFF;
}

.save-btn:active,
.delete-box__delete-btn:active  {
  background-color: #8052FF;
}

.cancel-btn {
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  cursor: pointer;
  transition: all .2s ease;
}

.cancel-btn:hover {
  color: var(--purple);
}

.cansel-btn.is-hidden,
.new-client-form__delete-btn.is-hidden {
  display: none;
}

.new-client__delete-btn {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  transition: all .2s ease;
}

.new-client_delete-btn:hover {
  color: var(--main-purple);
}

/* Окно удаления клиента */
.delete-box {
  position: absolute;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 450px;
  max-height: 215px;
  background-color: #fff;
  opacity: 0;
  /* transform: scale(0, 0); */
  transform: perspective(600px) translate(0px, -100%) rotateX(60deg);
  transition: all .4s ease;
  z-index: 1000;
}

.delete-box.modal-open {
  opacity: 1;
  transform: perspective(600px) translate(0px, -0%) rotateX(0deg);
}

.delete-box__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.delete-box__descr {
  margin: 0;
  margin-bottom: 25px;
  max-width: 275px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.delete-box__delete-btn {
  padding: 12px 35px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background-color: var(--purple);
  transition: all .3s ease;
}

.delete-box__cancel-btn {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  transition: all .3s ease;
}

.delete-box__cancel-btn:hover {
  color: var(--purple);
}

.exit-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all .3s ease;
}

.exit-btn svg path {
  transition: all .3s ease;
}

.exit-btn:hover svg path {
  fill: var(--purple);
}

.exit-btn:active svg path {
  fill: #8052FF;
}


.is-hidden {
  display: none;
}

.is-color {
  color: var(--purple);
}

.sort-down svg {
  transform: rotate(180deg);
}
